html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.header {
	float: right;
	margin-top:20px;
}

.menu {
	margin-left:15px;
	text-decoration: none;
	color: rgb(117, 117, 117);
	font-family: Arial;
	font-size:13px;
}

#connexion {
	border-radius: 1px solid #4285f4;
	background: #4285f4;
	color: white;
	padding:10px;
	margin-right: 10px;
}

.content {
	margin:auto;
	width: 100%;
	position: absolute;
	top: 30%;
	display:none;

}

.Logo {
	margin: auto;
	width: 500px;
	text-align: center;
	font-size: 90px;
	letter-spacing: 0.02em;
	position:relative;
}

.bleu {
	color:#4285f4;
}

.rouge {
	color:#ea4335;
	
}

.jaune {
	color:#fbbc05;

}

.vert {
	color:#34a853;
}

.recherche {
	margin: auto;
	height: 35px;
	width: 500px;
	background: #FFF;
	border: 1px solid grey;
  	box-shadow: 3px 3px 8px #aaa; 
  	margin-top: 10px;
  	font: Arial;
  	font-size: 16px;
  	color: grey;
  	padding-left: 5px;

}

.boutons_recherche {
	margin: auto;
	padding:27px;
	text-align: center;
}

.bouton {
	border: 1px solid #222222;
	background: rgb(243,243,243);
	padding:10px;
	margin: auto;
	text-decoration: none;
	position:relative;
	color: rgb(117, 117, 117);
	font-family: Arial;
	font-size:13px;
}

.bouton:hover {
    border: 1px solid black;
	background: rgb(243,243,243);
	padding:10px;
	margin: auto;
	text-decoration: none;
	position:relative;
	color: black;
}


.footer {
position: absolute; 
bottom: 0;
height: 30px;
background: rgb(234,234,234);
width: 100%;
border-top: : 1px solid #272727;
padding-top: 15px;
}

.left {
	float: left;
	margin-left:10px;
}

.right {
	float: right;
	margin-right:10px;
}

.element_footer {
	margin-left:15px;
	text-decoration: none;
	color: rgb(117, 117, 117);
    font-family: Arial;
    font-size:13px;
}
